html {
    @apply bg-black;
}

p {
    margin: 1em 0;
}

a {
    @apply text-primary trans cursor-pointer;
    text-decoration: none;
}

a:hover {
    @apply text-primary-lighter;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus {
    outline: none;
}