html {
    background: black;
}

p {
    margin: 1em 0;
}

a {
    color: inital;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus {
    outline: none;
}